<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rush47">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".RegisterActivity" android:exported="false" />
        <activity android:name=".ForgotPasswordOtpActivity" android:exported="false" />
        <activity android:name=".HomeActivity" android:exported="false" />
        <activity android:name=".ReferAndEarnActivity" android:exported="false" />
        <activity android:name=".MyWalletActivity" android:exported="false" />
        <activity android:name=".AddMoneyActivity" android:exported="false" />
        <activity android:name=".WithdrawMoneyActivity" android:exported="false" />
        <activity android:name=".MyReferralsActivity" android:exported="false" />
        <activity android:name=".MyProfileActivity" android:exported="false" />
        <activity android:name=".AboutUsActivity" android:exported="false" />
        <activity android:name=".MatchListActivity" android:exported="false" />
        <activity android:name=".MatchDetailActivity" android:exported="false" />
        <activity android:name=".SelectPositionActivity" android:exported="false" />
        <activity android:name=".JoiningMatchActivity" android:exported="false" />
        <activity android:name=".MyMatchesActivity" android:exported="false" />
        <activity android:name=".MyOrderActivity" android:exported="false" />
        <activity android:name=".MyStatisticsActivity" android:exported="false" />
        <activity android:name=".AnnouncementActivity" android:exported="false" />
        <activity android:name=".LeaderboardActivity" android:exported="false" />

    </application>
</manifest>
